/**
 * styles.css
 */

body {
  max-width: 70%;
  margin: 0 auto;
  font-family: sans-serif;
}

input {
  margin-right: 4px;
  background-color: white;
}

li {
  cursor: pointer;
}

.main-content {
  margin-top: 10%;
  background-color: gray;
  color: antiquewhite;
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.complete-todo-listitem {
  color: lightgray;
  text-decoration: line-through;
}