/**
 * styles.css
 */

body {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 
.main-content {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.addtodo-form {
  margin: 4px;
}

.todo-listitem {
  cursor: pointer;
}

.complete-todo-listitem {
  text-decoration: line-through;
}